<!--
Weather forecast for a location
-->
<ion-view>
    <ion-nav-title>{{location.name}}</ion-nav-title>
    <ion-content has-header="true" padding="false" overflow-scroll="false">
        <ion-refresher
            on-refresh="refreshWeather()">
        </ion-refresher>
        <!-- forecast -->
        <ion-list>
            <div ng-repeat-start="(day, weather) in forecastDays" class="item item-divider">
                {{day|date:'fullDate'}}
            </div>
            <ion-item ng-repeat="item in weather" class="weather-item">
                <span class="weather-icon">
                    <i class="w-base-{{item.weather[0].icon}}"></i>
                    <i class="w-{{item.weather[0].icon}}"></i>
                </span>

                <span class="temperature">
                    {{item.main.temp - 273.15| number:0}}<span class="unit">°C</span>
                </span>
                <span class="windspeed-bft">
                    <strong>{{item.wind.speed|windspeed:'bft'| number:1 }}</strong>
                </span>
                <small class="windspeed-kph">
                    {{item.wind.speed|windspeed:'kph'| number:0 }}<span class="unit">km/u</span>
                </small>

                <i class="ion-ios-arrow-thin-up wind-direction"
                   style="-webkit-transform: rotate({{item.wind.deg + 180}}deg);"></i>
                {{item.wind.direction}}
                <span class="item-note">
                    {{item.dt * 1000| date:'shortTime'}}
                </span>
            </ion-item>
            <div ng-repeat-end></div>
        </ion-list>
    </ion-content>
</ion-view>
