<div class="modal" ng-controller="LocationFormController">
    <ion-spinner ng-class="{'spinning': spinner}" class="centered"></ion-spinner>
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Nieuwe locatie</h1>
        <button class="button button-clear button-positive" 
                ng-click="closeNewLocation()">Annuleren</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" 
                           placeholder="Plaatsnaam" 
                           ng-model="name" 
                           ng-model-options="{ debounce: 250 }"
                           ng-change="getCitiesByName(name)">
                </label>
                <button type="button" class="button button-small button-clear button-positive" 
                        ng-click="getNearbyCities()">
                    <i class="icon ion-navigate"></i>
                </button>
            </div>
        </div>
        <div class="list">
            <ion-item ng-repeat="city in cities"
                      ng-click="createLocation(city)">
                {{city.name}}<!--, {{city.sys.country}}-->
            </ion-item>        
        </div>
    </ion-content>
</div>