<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Nieuwe locatie</h1>
    <button class="button button-clear button-positive" ng-click="closeNewLocation()">Annuleren</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="createLocation(location)" ng-controller="LocationFormController">
      <div class="list">

        <label class="item item-input">
          <input type="text" placeholder="Geef een plaatsnaam op" ng-model="location.name">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Kies nabije plaats
          </div>
          <select ng-model="location" 
                  ng-options="location.name for location in locations"
                  >
            <option>Geen plaatsen gevonden</option>
          </select>
        </label>

      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Voeg toe</button>
      </div>
    </form>

  </ion-content>

</div>