<ion-view class="settings">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Instellingen</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <ion-list>
            <ion-toggle ng-model="settings.forecast.icon"
                        class="item item-icon-left">
                <i class="icon ion-ios-partlysunny"></i>
                Weerpictogram
            </ion-toggle>

            <label class="item item-input item-select item-icon-left">
                <i class="icon ion-thermometer"></i>
                <div class="input-label">
                    Temperatuur
                </div>
                <select ng-model="settings.forecast.temperature"
                        ng-options="option.value as option.description for option in temperatureOptions">
                </select>
            </label>

            <label class="item item-input item-select item-icon-left">
                <i class="icon ion-speedometer"></i>
                <div class="input-label">
                    Snelheid 1
                </div>
                <select ng-model="settings.forecast.windSpeedPrimary"
                        ng-options="option.value as option.description for option in windspeedOptions">
                </select>
            </label>

            <label class="item item-input item-select item-icon-left">
                <i class="icon ion-speedometer"></i>
                <div class="input-label">
                    Snelheid 2
                </div>
                <select ng-model="settings.forecast.windSpeedSecundary"
                        ng-options="option.value as option.description for option in windspeedOptions">
                </select>
            </label>

            <ion-toggle ng-model="settings.forecast.windDirection"
                        class="item item-icon-left">
                <i class="icon ion-ios-arrow-thin-up"></i>
                Richting vast
            </ion-toggle> 

            <ion-toggle ng-model="settings.forecast.windDirectionReal"
                        class="item item-icon-left">
                <i class="icon ion-android-navigate"></i>
                Richting dynamisch
            </ion-toggle>

            <ion-toggle ng-model="settings.locations.showCurrentLocation"
                        class="item item-icon-left">
                <i class="icon ion-ios-navigate"></i>
                Toon huidige locatie
            </ion-toggle>
        </ion-list>

        <label class="item item-input item-select item-icon-left">
            <i class="icon ion-chatboxes"></i>
            <div class="input-label">
                Taal
            </div>
            <select ng-model="settings.general.language"
                    ng-options="option.value as option.description for option in languageOptions">
            </select>
        </label>

    </ion-content>
</ion-view>
