node_modules/
platforms/ios/SeeWeather.xcodeproj/project.xcworkspace/xcuserdata/arthurhoek.xcuserdatad/UserInterfaceState.xcuserstate
platforms/ios/www
platforms/android/assets/www
/nbproject/private/
www/npm-debug.log
