node_modules/
platforms/ios/SeeWeather.xcodeproj/project.xcworkspace/xcuserdata/arthurhoek.xcuserdatad/UserInterfaceState.xcuserstate
platforms/ios/www
platforms/ios/cordova
platforms/ios/SeeWeather/Plugins
platforms/android
nbproject/
www/npm-debug.log
www/js/settings.js
www/lib
www/css/*.css
