/* Weather font */
@font-face {
	font-family: "iconvault";
	src: url("iconvault_forecastfont.eot");
	src: url("iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
		url("iconvault_forecastfont.woff") format("woff"),
		url("iconvault_forecastfont.ttf") format("truetype"),
		url("iconvault_forecastfont.svg#iconvault") format("svg");
	font-weight: normal;
	font-style: normal;
}

.unit {
	color: #aaa;
}
.sidemenu-content {
	background-color: #666;
}
.sidemenu-item .item-content {
	background: #999;
	color: #fff;
}

.list {
	/*position: relative !important;*/
}
.item-divider {
	position: sticky !important;
	position: -webkit-sticky !important;
	/*top: 50px;*/
}

[class^="w-"],
[class*=" w-"] {
	font-family: 'iconvault';
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	position: absolute;
}

@media only screen and (min-width: 479px) and (max-width: 678px){
	[class^="w-"],
	[class*=" w-"] {
		font-family: 'iconvault';
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		-webkit-font-smoothing: antialiased;}
}

/* -----BaseCloud----- */
.basecloud:before, 
.w-02d:before,
.w-02n:before, 
.w-10d::before {
	font-family: 'iconvault';
	content: '\f105';
	position:absolute;
	color:rgb(204, 204, 204);
}

/* -----windyraincloud----- */
.windyraincloud:before  {
	font-family: 'iconvault';
	/*font-size:6em;*/
	content: '\f111';
	position:absolute;
	color:rgb(204, 204, 204);
}

/* -----Windysnowcloud----- */
.windysnowcloud:before  {
	font-family: 'iconvault';
	/*font-size:6em;*/
	content: '\f109';
	position:absolute;
	color:rgb(204, 204, 204);
}

/* -----Basethundercloud----- */
.basethundercloud:before  {
	font-family: 'iconvault';
	content: '\f105';
	position:absolute;
	color:#000;
}

/* -----Thunder----- */
.w-thunder::before  {
	content: "\f114";
	position:absolute;
	color:rgb(255, 165, 0);
}

/* -----Sunny----- */
.w-02d::after,
.w-10d::after,
.w-sunny::after {
	content: "\f101";
	color:rgb(255, 165, 0);
	position: absolute;
}

/* -----Drizzle----- */
.w-drizzle::before  {
	content: "\f10a";
	color: #82b2e4;
	position: absolute;
}

/* -----Hail----- */
.w-hail::before {
	content: "\f10f";
	position:absolute;
	color:rgb(204, 204, 204);}

/* -----Showers----- */
.w-showers::before  {
	content: "\f104";
	position:absolute;
	color:#82b2e4;
}

/* -----Rainy----- */
.w-10d::before,
.w-rainy::before {
	content: "\f107";
	position:absolute;
	color:#4681c3;
}

/* -----Snowy----- */
.w-snowy::before  {
	content: "\f10b";
	position:absolute;
	color:#acd3f3;
}

/* -----Frosty----- */
.w-frosty::before {
	content: "\f102";
	position:absolute;
	color:#85d8f7;
}

/* -----Windy----- */
.w-windy::before  {
	content: "\f115";
	/*position:absolute;*/
	color:rgb(204, 204, 204);
}

/* -----WindyRain----- */
.w-windyrain::before {
	content: "\f10e";
	/*position:absolute;*/
	color:#acd3f3;
}

/* -----WindySnow----- */
.w-windysnow::before {
	content: "\f103";
	/*position:absolute;*/
	color:#acd3f3;
}

/* -----Sleet----- */
.w-sleet::before  {
	content: "\f10c";
	/*position:absolute;*/
	color:#acd3f3;
}

/* -----Moon----- */
.w-01n::after,
.w-02n::after,
.w-moon::after {
	content: "\f10d";
	color:rgb(255, 165, 0);
	/*position: absolute;*/
}

/* -----Night----- */
.w-night::after {
	content: "\f100";
	position:absolute;
	color:rgb(255, 165, 0);
}


/* -----Sun----- */
.w-sun::after, .w-01d::after {
	content: "\f113";
	color:rgb(255, 165, 0);
	position: absolute;
}

/* -----Cloud----- */
.w-03d::after,
.w-04d::after,
.w-04n::after,
.w-cloud::after {
	content: "\f106";
	color:rgb(204, 204, 204);
	position: absolute;
}

/* -----Sunrise----- */
.w-sunrise:before  {
	content: '\f112';
	color:rgb(255, 165, 0);
	position: absolute;
}

/* -----Sunset----- */
.w-sunset:before  {
	content: '\f110';
	color:#f96f23;
	position: absolute;
}

/* -----Mist----- */
.w-mist:before  {
	content: '\f108';
	color:rgb(204, 204, 204);
	position: absolute;
}

